@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>

@section scripts {
    <script type="text/javascript" src="@Url.Content("~/Scripts/about.ctrl.js")"></script>
}

<div x-data="commentsCtrl()" x-init="() => { setList(); }" class="row">
    <div class="col-md-4">
        <button @@click="setList()">Refresh</button>
        <br />
        <br />
        <input type="text" placeholder="Search name" x-model.debounce.400="query" /><p x-show="query.length"><span x-text="comments.length"></span> results</p>
        <br />
        <template x-for="comment in comments" :key="comment.id">
            <a href="#" class="list-group-item list-group-item-action" x-on:click="showDetailsPanel(comment.id)">
                <p><b x-text="comment.name"></b></p>
                <br />
                <p x-text="comment.body"></p>
            </a>
        </template>
    </div>
    <div class="col-md-8">
        <div class="panel" x-show="showDetails">
            <h3 x-text="selectedComment.id"></h3>
            <p x-text="selectedComment.postId"></p>
            <p x-text="selectedComment.email"></p>
            <p x-text="selectedComment.body"></p>
        </div>
    </div>
</div>
