@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

@section scripts {
    <script type="text/javascript" src="@Url.Content("~/Scripts/contact.ctrl.js")"></script>
}

<div class="row" x-data="contactsCtrl()" x-init="() => { setContacts(); }">
    <div class="col-6">
        <form @@submit.prevent="console.log('form submitted')">
            <input id="id_text" type="text" placeholder="type here" x-model="formModel.text" class="form-control" />
            <br />
            <select id="id_type" x-model="formModel.type" x-init="() => { setContactsType(); }" class="form-control">
                <template x-for="ct in contactsType" :key="ct.Id">
                    <option :value="ct.Id" x-text="ct.Description"></option>
                </template>
            </select>
            <br />
            <fieldset>
                <legend>Select option</legend>
                <label for="id_radio1">
                    Option 1
                    <input id="id_radio1" name="options" type="radio" class="form-check" x-model="formModel.option" value="opt1" />
                </label>
                <label for="id_radio2">
                    Option 2
                    <input id="id_radio2" name="options" type="radio" class="form-check" x-model="formModel.option" value="opt2" />
                </label>
                <label for="id_radio3">
                    Option 3
                    <input id="id_radio3" name="options" type="radio" class="form-check" x-model="formModel.option" value="opt3" />
                </label>
            </fieldset>
            <br />
            <label for="id_enabled">Enable</label>
            <input id="id_enabled" type="checkbox" x-model="formModel.enabled" class="form-check" />
            <br />
            <button x-on:click="onSendButtonClicked" class="btn btn-primary">SEND</button>
        </form>
    </div>
    <div class="col-6">
        <div id="id_grid"></div>
    </div>
</div>